.first-box-container {
    color: blue;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    width: 200px;
    height: 100px;
    border-width: 10px;
    border-style: solid;
    border-color: green;
    background-color: red;

  }
  
  .second-box-container {
    color: blue;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 240px;
    padding-top: 15px;
    width: 200px;
    height: 100px;
    background-color: yellow;
    border-width: 10px;
    border-style: solid;
    border-color: red;
  }
  
  .third-box-container {
    color: blue;
    text-align: center;
    text-transform: uppercase;
    margin-left: 470px;
    padding-top: 15px;
    width: 200px;
    height: 100px;
    background-color: green;
    border-width: 10px;
    border-style: solid;
    border-color: yellow;
  }